* {
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  z-index: 3;
}

nav {
  height: 50px;
  background: #212121;
}

a {
  text-decoration: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}
.menu_link {
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
}
.menu_item:nth-child(-n+5) {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.hamburger {
  display: none;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background: rgba(0, 0, 0, 0.6);
}
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader_official {
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
  margin-top: 3px;
}
.subheader_call {
  margin-top: 19px;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  color: #FFFFFF;
}
.subheader_phone {
  display: block;
  margin-top: 8px;
  font-weight: 400;
  font-size: 22px;
  text-align: right;
  color: #FFFFFF;
  line-height: 12px;
  text-transform: uppercase;
}
.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.promo {
  background: url("../img/uber_bg.jpg") center center/cover no-repeat;
  min-height: 799px;
  padding: 150px 0 185px 0;
}
.promo_header {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}
.promo_subheader {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-top: 20px;
}
.promo_descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 23px;
}
.promo_btn {
  display: block;
  width: 259px;
  height: 63px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  margin: 118px auto 0 auto;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.promo_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.reasons {
  padding: 20px 0 64px 0;
}
.reasons_btn {
  margin: 0 auto;
  width: 115px;
  background: #000000;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 27px;
}
.reasons_subheader {
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 0;
  margin-top: 38px;
}
.reasons_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}
.reasons_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 116px;
  height: 116px;
  background: #1EACC7;
  border-radius: 100%;
  margin-right: 25px;
}
.reasons_descr {
  width: 371px;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  padding: 0px;
}
.reasons_descr span {
  color: #1EACC7;
}

.label {
  margin: 0 auto;
  width: 115px;
  background: #000000;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 27px;
}

.title {
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 0;
  margin-top: 38px;
}

.subtitle {
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #222222;
  margin-top: 5px;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 61px 0;
  background: url(../img/mobile_bg.jpg) center center/cover no-repeat;
}
.mobile .row {
  margin-top: 30px;
}
.mobile_item {
  position: relative;
  max-width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 82px;
}
.mobile_item_1 {
  background: url(../img/first_card.jpg) center center/cover no-repeat;
}
.mobile_item_2 {
  background: url(../img/second_card.jpg) center center/cover no-repeat;
}
.mobile_item_3 {
  background: url(../img/third_card.jpg) center center/cover no-repeat;
}
.mobile_item_4 {
  background: url(../img/fourth_card.jpg) center center/cover no-repeat;
}
.mobile_item_5 {
  background: url(../img/fifth_card.jpg) center center/cover no-repeat;
}
.mobile_item_6 {
  background: url(../img/sixth_card.jpg) center center/cover no-repeat;
}
.mobile_item_subtitle {
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
}
.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 34px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: #000;
  margin: 0 auto;
  cursor: pointer;
}
.mobile_item_plus::before {
  content: "";
  display: block;
  width: 17px;
  height: 2px;
  background-color: #1EACC7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.mobile_item_plus::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 2px;
  height: 17px;
  background-color: #1EACC7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.mobile_item_plus:hover::after, .mobile_item_plus:hover::before {
  background-color: #FF5656;
}

.choice {
  padding: 56px 0 137.5px 0;
  background: #000000 url(../img/base_bg.jpg) bottom/contain no-repeat;
}
.choice .label {
  background: #fff;
  color: #000;
}
.choice .title {
  color: #fff;
}
.choice .subtitle {
  color: #fff;
}
.choice_img {
  display: block;
  margin: 0 auto;
  margin-top: 54px;
}
.choice_text {
  color: rgb(34, 34, 34);
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.require {
  padding: 68px 0 84px 0;
}
.require_block {
  margin: 33px 0;
}
.require_block_nmb {
  margin-bottom: 0px;
}
.require_title {
  font-weight: 400;
  font-size: 22px;
  line-height: 109%;
  color: #1ca8c3;
}
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}
.require_list li {
  font-weight: 300;
  font-size: 17px;
  line-height: 141%;
  color: #222;
  margin-bottom: 10px;
  position: relative;
}
.require_list li::before {
  content: "";
  display: block;
  width: 21px;
  height: 20px;
  background: url("../icons/check_blue.png") center center/cover no-repeat;
  position: absolute;
  left: -31px;
  top: 3px;
}
.require_descr {
  font-weight: 300;
  font-size: 17px;
  line-height: 141%;
  color: #1ca8c3;
}
.require .warning .require_title {
  color: #FF5656;
}
.require .warning .require_list li::before {
  background: url("../icons/check_red.png") center center/cover no-repeat;
}

.world {
  padding: 48px 0 47px 0;
  background: url("../img/world_bg.jpg") center/cover no-repeat;
}
.world .label {
  background-color: #fff;
  color: #070716;
}
.world .title {
  color: #fff;
}
.world .subtitle {
  color: #fff;
}
.world .world_text {
  margin-top: 480px;
  text-align: center;
  text-transform: uppercase;
  color: #1EACC7;
  font-size: 15px;
  font-weight: 400;
}

.footer {
  padding: 14px 0 38px 0;
  text-transform: uppercase;
}
.footer hr {
  width: 301px;
  height: 7px;
  background-color: #1EACC7;
  border: none;
  margin: 0 auto;
}
.footer .footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 23px 0 23px;
}
.footer .footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}
.footer .footer_social .social-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  background-color: #070716;
  border-radius: 50%;
  margin-left: 6px;
  margin-top: 5px;
}
.footer .footer_social .social-img img {
  height: 16px;
  width: 16px;
}
.footer .footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}
.footer .footer_menu li {
  list-style: none;
}
.footer .footer_menu .footer_menu-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
.footer .footer_menu .footer_menu-main li {
  margin-right: 12px;
  margin-left: 12px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}
.footer .footer_menu .footer_menu-main li a {
  color: #070716;
}
.footer .footer_menu .footer_menu-submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}
.footer .footer_menu .footer_menu-submenu li {
  font-family: Roboto;
  font-size: 11px;
  font-weight: 300;
  margin-right: 6px;
  margin-left: 6px;
}
.footer .footer_menu .footer_menu-submenu li a {
  color: #999999;
}
.footer .footer_menu .footer_menu-lang {
  margin: 0;
  padding: 0;
  margin-top: 19px;
}
.footer .footer_menu .footer_menu-lang li {
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
}
.footer .footer_menu .footer_menu-lang li a {
  color: #1EACC7;
}
.footer .footer_store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer .footer_store a {
  margin-right: 5px;
  margin-top: 5px;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_link {
    font-size: 13px;
  }
  .menu_item {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  .menu_item:nth-child(-n+5) {
    padding-right: 20px;
  }
  .menu_link {
    display: block;
  }
  .promo_header {
    font-size: 50px;
  }
  .reasons_descr {
    width: 300px;
  }
  .reasons_item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_social {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 17px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_store {
    margin: 0 auto;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 19px;
  }
}
@media (max-width: 992px) {
  .menu_link {
    font-size: 10px;
  }
  .menu_item:nth-child(-n+5) {
    padding-right: 10px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    margin-top: 21px;
    width: 100%;
    height: 40px;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .reasons_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reasons_descr {
    margin-top: 20px;
  }
  .reasons_round {
    margin-right: 0;
  }
  .mobile {
    padding: 20px 0 64px 0;
  }
  .mobile_item_subtitle {
    font-size: 22px;
  }
  .choice {
    padding: 20px 0 36px 0;
  }
  .require {
    padding: 0 0 36px 0;
  }
  .world {
    padding: 20px 0 36px 0;
  }
}
@media (max-width: 768px) {
  .menu {
    position: fixed;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader_phone {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  .subheader_btn {
    display: block;
    height: 40px;
    width: 200px;
    margin: 0 auto;
  }
  .promo_header {
    line-height: 45px;
  }
  .choice_img {
    width: 100%;
  }
}
@media (max-width: 575px) {
  nav {
    height: 30px;
  }
  .subheader {
    height: 60px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin-top: 16px;
  }
  .subheader_phone {
    font-size: 12px;
    margin-top: 11px;
    margin-bottom: 7px;
  }
  .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
  }
  .promo {
    min-height: 400px;
    padding-bottom: 35px;
  }
  .promo_descr {
    display: none;
  }
  .promo_header {
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
  }
  .promo_subheader {
    font-size: 20px;
    margin-top: 33px;
    padding: 0 10px;
    line-height: 30px;
  }
  .promo_btn {
    width: 210px;
    height: 50px;
    margin-top: 72px;
    font-size: 16px;
  }
  .menu {
    width: 85%;
  }
  .menu_link {
    font-size: 18px;
  }
  .reasons {
    padding: 22px 0 36px 0;
  }
  .reasons_item {
    margin-top: 26px;
  }
  .reasons_round {
    width: 100px;
    height: 100px;
  }
  .reasons_descr {
    margin-top: 27px;
    width: 100%;
  }
  .mobile_item_subtitle {
    font-size: 14px;
  }
  .title {
    font-size: 16px;
    margin-top: 14px;
    line-height: 16px;
  }
  .subtitle {
    font-size: 12px;
  }
  .choice_text {
    color: #fff;
    margin-bottom: 77px;
    font-size: 14px;
  }
  .require_title {
    font-size: 16px;
  }
  .require_list li {
    font-size: 14px;
  }
  .require_block {
    margin: 15px 0;
  }
  .world .world_text {
    margin-top: 211.5px;
  }
  .footer .footer_menu .footer_menu-main li {
    font-size: 11px;
    margin-right: 13px;
    margin-left: 0;
  }
  .footer .footer_menu .footer_menu-submenu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 25px;
  }
  .footer .footer_menu .footer_menu-lang {
    margin-top: 10px;
  }
  .footer .footer_store img {
    width: 100%;
  }
}